@media (prefers-color-scheme: dark) {

    window.background,
    popover contents,
    popover arrow {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.125) 109.52%), linear-gradient(rgba(81, 81, 81, 0.3), rgba(81, 81, 81, 0.3)), rgba(40, 40, 40, 0.4);
        box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.077);
        border-radius: 10px;
    }

    ptyxistab {
        background: rgba(0, 0, 0, 0.4);
        margin: 0px 3px 3px;
        border-radius: 7px;
    }

    splitbutton separator {
        background: rgba(255, 255, 255, 0.1);
    }

    headerbar,
    header,
    stack,
    .view,
    .sidebar,
    .top-bar,
    .main-header-bar,
    windowhandle,
    .overview,
    splitbutton button {
        background: transparent;
        box-shadow: none;
        border: none;
        border-radius: 0px;
    }

    notebook,
    .content-pane tabview {
        background: rgba(0, 0, 0, 0.4);
        border-radius: 10px 0px 0px 0px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 4px 8px -2px rgba(0, 0, 0, 0.2);
    }

    menubutton button,
    .image-button:not(.close):not(.minimize):not(.maximize),
    .text-button,
    combobox {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, 0.4) 65%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0.25));
        border: 1px solid rgba(7, 7, 7, 0.5);
        border-radius: 5px;
    }
}

.close image,
.minimize image,
.maximize image {
    background: radial-gradient(73.84% 80% at 50% 80%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    box-shadow: inset 0px -1px rgba(255, 255, 255, 0.15), 0px 1px 0.2px 0px #00000036 inset;
    transition: background ease 0.3s;
}

.close:hover image,
.minimize:hover image,
.maximize:hover image {
    background: radial-gradient(73.84% 80% at 50% 80%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), radial-gradient(at bottom center, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.1) 50%);
}

.org-gnome-TextEditor .top-bar {
    background: linear-gradient(180deg, #927558 1.28%, #816346 6.96%), linear-gradient(180deg, rgba(0, 0, 0, 0.47) -3.54%, rgba(153, 153, 153, 0.47) -2.18%, rgba(217, 217, 217, 0.47) 1.55%, rgba(166, 166, 166, 0.47) 3.46%, rgba(153, 153, 153, 0.47) 5.56%, rgba(232, 232, 232, 0.47) 8.14%);
    box-shadow: inset 0px -6px 4px -2px rgba(255, 255, 255, 0.25), inset 0px -4px 4px -2px darker(#927558), 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: white;
}

.org-gnome-TextEditor .top-bar .image-button:not(.close):not(.minimize):not(.maximize),
.org-gnome-TextEditor .top-bar .toggle {
    background: radial-gradient(64.67% 75% at 50% 25%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.0881821) -38.89%, rgba(0, 0, 0, 0.064) -11.38%, rgba(0, 0, 0, 0.119727) 14.82%, rgba(0, 0, 0, 0.2) 50.46%, rgba(0, 0, 0, 0.2) 68.72%, rgba(0, 0, 0, 0.14) 95.35%);
    border-radius: 6px;
}